.wide{
  width: 100%;
}

#methods {
  display: flex;
  margin: 1em 0;

  label {
    cursor: pointer;
    margin-right: 1em;
  }

  input[type=radio] {
    display: none;
  }

  span {
    padding: .25em 1em;
  }

  input[type=radio]:checked+span {
    background: #2d5986;
    color: #eee;
    border: 1px groove #ccc;
  }

   span:hover {
    background: #ddd;
}
}

#body {
  width: calc(50% - .5em);

  textarea {
    display: block;
    height: 10em;
    width: 100%;
  }

  textarea[disabled] {
    background: #ccc;
  }
}